/* rss icon */
#block-views-site_announcement-block_2 div.view div.attachment .views-field-nothing  {
  text-align: right;
  margin-top: -30px;
  padding-bottom: 10px;
}

div.view-site-announcement .views-row {
  margin-bottom: 1.0em;
}

div.view-site-announcement .views-field-title {
  font-size: 105%;
}

div.views-field-field-site-announcement-teaser-value div.field-content {
  font-size: 95%;
}

#content-inner-inner div#block-views-site_announcement-block_2.block div.views-field-field-site-announcement-teaser-value div.field-content p,
#content-inner-inner div#block-views-site_announcement-block_2.block div.views-field-field-site-announcement-teaser-value div.field-content div { 
  line-height: 15px;
  padding-top: 0;
}

#block-views-site_announcement-block_2.block .views-field-edit-node {
  float: right;
  padding-right: 0;
}


